.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 200px; /* Provide padding to ensure content is centered */
    font-family: Arial, sans-serif;
}

.login-form {
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Space between the form and the image */
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px; /* Add margin for spacing */
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #757575;
    font-size: 14px;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.15);
    cursor: pointer;
    margin-top: 10px;
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background-color: #e5e5e5;
}

.google-icon {
    margin-right: 10px;
    height: 20px;
    width: auto;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 10px;
}

.forgot-password {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 20px;
}

.visual-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Aligns the image to the right */
    align-items: center;
    padding-left: 20%;
}

.visual-container img {
    max-width: 120%;
    max-height: 120%; /* Adjust the height as necessary */
}
