.quizzes-container {
  padding: 20px;
  max-width: 100%;
  margin: auto;
}

.quizzes-container h3 {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 50px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-weight: 10000;
  font-size: x-large;
}

.quiz-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.quiz-item {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff; /* White background for quiz items */
  transition: background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quiz-item:hover {
  background-color: #e9ecef; /* Slightly darker grey for hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.quiz-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.quiz-title {
  font-size: 1.5em;
  color: #007bff;
  font-family: 'Roboto', sans-serif;
}

.quiz-score {
  font-size: 1em;
  color: #555;
}

.start-quiz-btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.start-quiz-btn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
