.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 200px; /* Provide padding to ensure content is centered */
    font-family: Arial, sans-serif;
}

.signup-form {
    padding: 2rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-right: 20px; /* Space between the form and the image */
    text-align: center;
    width: 100%;
    max-width: 400px; /* Limit width */
}

.signup-form h1 {
    margin-bottom: 1rem;
}

.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-btn {
    width: 100%;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 10px;
}

.login-link {
    margin-top: 20px;
    font-size: 0.9rem;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.visual-container {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* Aligns the image to the right */
    align-items: center;
    padding-left: 20%
}

.visual-container img {
    max-width: 120%;
    max-height: 120%; /* Adjust the height as necessary */
}
